######################
# Directories
######################
/build/
/bin/
/target/

######################
# OS Files
######################
.DS_Store

######################
# Eclipse
######################
.project
.metadata
.classpath
.settings/

######################
# IntelliJ
######################
.idea
*.iml

.m2/

*~


